<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    <img src="../../assets/icon/unidesc.webp">
  </h1>

  <form>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Digite seu email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-open-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" shape="round">
      Login
    </ion-button>

    <ion-button expand="block" fill="clear" shape="round">
      Criar uma conta
    </ion-button>

    <ion-button expand="block" color="primary" shape="round">
      <ion-icon slot="start" name="logo-facebook"></ion-icon> Logar com facebook
    </ion-button>
  </form>
</ion-content>