<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" placeholder="Digite o nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Matricula</ion-label>
            <ion-input
              type="text"
              placeholder="Numero da Matricula"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Semestre</ion-label>
            <ion-input type="tu" placeholder="Número da Semestre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit" color="primary" expand="full"
        >Enviar</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
