<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Cadastro do Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome completo</ion-label>
            <ion-input type="text" placeholder="José lima dias"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input type="number" placeholder="000.000.000-00"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-input type="text" placeholder="00/00/0000"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefone fixo</ion-label>
            <ion-input type="number" placeholder="(00) 0000-0000"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">RG</ion-label>
            <ion-input type="number" placeholder="0000000"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input type="number" placeholder="(00) 0000-0000"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Curso</ion-label>
            <ion-input type="text" placeholder="Sistema de informação"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Semestre</ion-label>
            <ion-input type="text" placeholder="1º Semestre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Iniciou em:</ion-label>
            <ion-input type="text" placeholder="00/00/0000"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Termina em:</ion-label>
            <ion-input type="text" placeholder="00/00/000"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit" expand="full">Enviar</ion-button>
    </ion-grid>
  </form>
</ion-content>