<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-button slot="end" color="dark" routerLink="/login">
      <ion-icon slot="start" name="log-out-outline" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col routerLink="/aluno">
        <ion-card class="ion-text-center">
          <img width="128" height="128" src="../../assets/img/student.png" />
          <ion-card-header class="ion-text-center">
            <ion-card-title>Aluno</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col routerLink="/professor">
        <ion-card class="ion-text-center">
          <img width="128" height="128" src="../../assets/img/teacher.jpg" />
          <ion-card-header class="ion-text-center">
            <ion-card-title>Professor</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col routerLink="/turma">
        <ion-card class="ion-text-center">
          <img width="128" height="128" src="../../assets/img/classroom.png" />
          <ion-card-header class="ion-text-center">
            <ion-card-title>Turma</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
