<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unidesc - APP
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col routerLink="/aluno">
        <ion-card>
          <img width="200" height="200" src="../../assets/img/student.png" />
          <ion-card-header>
            <ion-card-subtitle>Aluno</ion-card-subtitle>

          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col routerLink="/professor">
        <ion-card>
          <img width="200" height="200" src="../../assets/img/teacher.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Professor</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row routerLink="/turma">
      <ion-col size="6">
        <ion-card>
          <img width="200" height="200" src="../../assets/img/classroom.png" />
          <ion-card-header>
            <ion-card-subtitle>Turma</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>